.App {
  padding: 16px;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}
.title {
  color: white;
}
.App-header {
  background-color: #232c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.list-item.css-t649x-MuiList-root {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
}
.css-1lwa3th-MuiFormLabel-root-MuiInputLabel-root {
  color: #2e7d32 !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #2e7d32 !important;
}