.App {
  padding: 16px;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  display: flex;
}
.title {
  color: white;
}
.App-header {
  background-color: #232c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.list-item.css-t649x-MuiList-root {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}